span {
  display: block;
}

input[type="text"],
input[type="date"],
select {
  width: 20%;
  border: 1px solid;
  box-sizing: border-box;
}

/* Style invalid fields */
input:invalid {
  border-color: red;
}

/* Style error messages */
.error {
  color: red;
  box-sizing: border-box;
}