<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  
    <title>Virus Test Reg Form</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <img src="./images/reg.png" alt=""> 
    <h1>Virus Test Registration Form</h1>
  <form> 
    <div class="form-row">
      <div class="col">
        <label for="example">Surname</label>
        <input type="text" class="form-control" id="sur" name="surname">
        <div class="error "  id="surErr"></div>
      </div>
      <div class="col">
        <label for="example">Given name</label>
        <input type="text" class="form-control"id="given" name="givenname">
        <div class="error "  id="givenErr"></div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="example"> Date  of Birth</label>
        <input type="text" class="form-control" name="dateofbirth">
        <div class="error "  id="dateErr"></div>
      </div>
      <div class="col">
        <label for="example">Place of Residence</label>
        <input type="password" class="form-control" name="placeofresidence">
        <div class="error "  id="placeErr"></div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="example">Occupation</label>
        <input type="text" class="form-control" name="occupation">
        <div class="error "  id="qualityErr"></div>
      </div>
      <div class="col">
        <label for="example">Nationality</label>
        <input type="text" class="form-control" name="nationality">
        <div class="error "  id="payErr"></div>
      </div>
    </div> 
       <div class="form-row">
      <div class="col">
        <label for="example">Gender</label>
        <select name="gender" id="pd" class="form-control">
          <option value="">Choose your gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        <div class="error "  id="producttErr"></div>
      </div>
    </div>
    <div class="form-row">
        <label for="example">Category</label>
        <select name="category" id="pd" class="form-control">
          <option value="">Select category</option>
          <option value="">N/A</option>
          <option value="">A</option>
        </select>
        <div class="error "  id="productvErr"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col">

   <button type="submit" class="btn btn-primary">Register</button>
</div>
</div>

  </form>
  </div>
</body>
</html>
    
</body>
</html>