doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(type="icon/png" rel="icon" href="/system-images/uganda-coat_of_arms.png")
  title Virus-Test
  link(rel='stylesheet' href='/css/bootstrap.css')
  link(rel='stylesheet' href='/css/main-style.css')
body 
    .container.p-5
        .card
            .p-2.text-center
                img.card-img-top(src='/system-images/form-header-image.png' alt='Registration Form Header')
                h2 Ministry of Health
                h1
                    strong Covid-19 (Corona Virus)
                h2 Virus - Test Registration Form
            .card-body
                form#form(action='' method='post')
                    .row
                        .col-md-6.mb-3.form-group
                            label(for='surname') Surname
                            input#surname.form-control(type='text' name='surname' required)
                            small
                                | Error Message
                        .col-md-6.mb-3.form-group
                            label(for='givenNames') Given name
                            input#givenNames.form-control(type='text' name='givenNames' required)
                            small
                                | Error Message
                    .row
                        .col-md-6.mb-3.form-group
                            label(for='dob') Date of Birth
                            input#dob.form-control(type='date' name='dob' required)
                            small
                                | Error Message
                        .col-md-6.mb-3.form-group
                            label(for='residence') Place of residence
                            input#residence.form-control(type='text' name='residence' required)
                            small
                                | Error Message
                    .row
                        .col-md-6.mb-3.form-group
                            label(for='occupation') Occupation
                            input#occupation.form-control(type='text' name='occupation' required)
                            small
                                | Error Message
                        .col-md-6.mb-3.form-group
                            label(for='nationality') Nationality
                            input#nationality.form-control(type='text' name='nationality' required)
                            small
                                | Error Message
                    .row
                        .col-md-12
                            h6 Gender
                            hr
                    .row
                        .col-md-6.mb-3.form-group
                            input#gender(type='radio' name='gender' value='female' required)
                            |  &nbsp; Female
                        .col-md-6.mb-3.form-group
                            input#gender(type='radio' name='gender' value='male' required)
                            |  &nbsp; Male
                    .row.mb-3.p-2
                        .col-md-12.form-group
                            label(for='category') Category
                            select#category.form-control(name='category')
                                option(value='') --Select Category--
                                option(value='returnee') Returnee
                                option(value='contact') Contact
                                option(value='alert') Alert
                                option(value='volunteer') Volunteer
                            small
                                | Error Message
                    input.btn.btn-primary.mb-3.p-1.float-right(type='submit' value='Register')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='/js/bootstrap.js')
    script(src="/javascript/mainscript.js")
