doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Ministry of Health
  // CSS
  link(rel='stylesheet', href='bootstrap.min.css')
  link(rel='stylesheet', href='styleForm.css')
  style.
    p,
    h5,
    h6 {
      text-align: center;
    }
    label,
    hr {
      margin-bottom: 0;
      font-size: 9pt;
      font-weight: bolder;
      margin-left: 25px;
    }
    hr {
      margin-top: 0;
      width: 87.5%;
      margin-left: 25px;
    }
    form {
      width: 420px;
      margin: 0 auto;
      border: solid 1px;
    }
    select {
      width: 87.5%;
      margin-left: 25px;
    }
    input[type='text'],
    input[type='date'],
    button {
      width: 157px;
      margin-left: 25px;
      border: solid 1px;
    }
    input[type='radio'] {
      margin-left: 25px;
    }
    #message {
      color: white;
      width: 87.5%;
      background-color: green;
    }
    span {
      margin-left: 25px;
    }
form#data(novalidate method='POST' action='/')
  table
    tr
      td(colspan='2')
        label
          img(src='moh.png' width='93%')
        h6 Ministry of Health
        h5 COVID-19 (CORONA VIRUS)
        h6 Virus-Test Registration Form
        span#message
    tr
      td
        label Surname
        br
        input#surname(type='text' name='surname' minlength='1', maxlength='16')
        span.error
      td
        label Given name
        br
        input#givenName(type='text' name='givenName' minlength='1', maxlength='16') 
        span.error
    tr
      td
        label Date of Birth
        br
        input#birthDate(type='date' name='birthDate')
        span.error
      td
        label Place of Residence
        br
        input#residence(type='text' name='residence' minlength='1', maxlength='20')
        span.error
    tr
      td
        label Occupation
        br
        input#occupation(type='text' name='occupation' minlength='5', maxlength='50')
        span.error
      td
        label Nationality
        br
        input#nationality(type='text' name='nationality' minlength='5', maxlength='20')
        span.error
    tr
      td(colspan='2')
        label Gender
        hr
    tr
      td
        label Male
        br
        input#male(type='radio', name='gender', value='M', checked='')
      td
        label Female
        br
        input#female(type='radio', name='gender', value='F')
    tr
      td(colspan='2')
        label Category
        br
        select#category(name='category')
          option(value='') -- Select Category --
          option(value='Alert') Alert
          option(value='Contact') Contact
          option(value='Returnee') Returnee
          option(value='Volunteer') Volunteer
        span.error
    tr
      td(colspan='2')
    tr
      td
      td
        button.btn.btn-info(type='submit', onclick='showError()') Register
// Javascript
script(src='jquery.min.js')
script(src='popper.min.js')
script(src='bootstrap.min.js')
script(src='validateForm.js')
script(src='jquery.form.min.js')
script(src='validatePost.js')