body{
    background-color: whitesmoke;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

small{
    color: red;
    font-size: 8px;
    font-weight: 700;
    left: 0;
    visibility: hidden;
  }

  .form-group.error small{
    visibility: visible;
  }