body{
    background-color: white;
    box-sizing: border-box;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;

}

small{
    color: red;
    font-size: 8px;
    font-weight: 700;
    left: 0;
    visibility: hidden;
  }

  .form-group.error small{
    visibility: visible;
  }

.card{
  border-color: grey;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}
